*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: Arial ;
}


header img{
    height: 700px;
    width: 100%;
    background-color: transparent;
    padding: 0px;
    margin: 0px ;
    object-fit: cover;
}


.content1{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

}

.content1 img{
    height: 100px;
    width: 100px;
    margin-left: 5%;
    border-radius: 50%;
 
}

.content1 img:hover{
    transform: rotate(360deg);
    transition: all 500ms ease;
}
.content1 ul{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-top: -10%;
    
}

.content1 ul li{
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 15px;
    font-family: Arial ;
}

.content1 ul li a{
   font-family: Arial ;
    font-size: 35px;
    color: rgb(100, 17, 17);
    font-weight: 600;
    margin-left: 5px;
}

.inicio{
    position: absolute;
    margin-top: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.cuadrado1{
    border: 1px solid  ;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.589) ;
    margin-right: % ;
    
    font-family: Arial ;
    
    height: 200px;
    margin-top: 5.4%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}





.cuadrado1 h1{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: Arial ;
}


.inicio h1{
    font-family: Arial ;
    font-weight: 800;
    color:  rgb(100, 17, 17);
    align-self: flex-end;
    width: 100%;
    margin-left: -5%;
}

.inicio p{
    align-self: flex-end;
    width: 90%;
    margin-right: 35px;
    font-family: Arial ;
    font-size: 17px;
    font-weight: 600;
    color: #151719;
    align-self: flex-end;
    width: 90%;
    margin-right: 35px;

}

#centro{
    display: flex;
    flex-flow: column;
    font-family: Arial ;
}


.efecto{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;

}

#sección1{
    width: 100%;
    height: 700px;
    background-image: url(img/cabildo3.jpg);
}




#seccion1 .lugar1{
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 700px;
    margin-top: 150px;
    font-family: Arial ;
}


.primero{
    border: 1px solid #05050500;
    font-family: Arial ;
    background-color:rgba(255, 255, 255, 0.589) ;
    
   
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}



.primero h1{
  font-size: 30px;
  color:rgb(100, 17, 17);
  justify-content: center;
    align-items: center;
    font-family: Arial ;
}

.primero h2{
color:  #151719;
font-size: 25px;
font-family: Arial ;
}

.lugar1 h1{
    color: rgb(100, 17, 17);
    font-family: Arial ;
}



#seccion2{
    width: 100%;
    height: 700px;
    background-color: #151719;
}

.lugar2{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    height: 700px;
    background-color: #151719;
}

#brujulatexto{
    align-self: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-color: #151719;
}

#brujulatexto h1{
    color:rgb(100, 17, 17);
    font-size: 30px;
    background-color: #151719;
    font-weight: 700;
    font-family: Arial ;
}

#brujulatexto h2{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial ;
    font-weight: 600;
    width: 82%;
}


.lugar2 img{
    align-self: center;
    border-radius: 50%;
    margin-left: 60px;
}

.lugar2 img:hover {
    border-radius:50%;
    
    transform: rotate(360deg);
    transition: 3s;
}


#sección3{
    width: 100%;
    height: 700px;
    background-image: url(img/balcarce0.jpg);
}



.lugar3 h1{
    display: flex;
 align-items: center;
 justify-content: center;
 margin-top: ;
}

.lugar3 h2{
display: flex;
align-items: center;
justify-content: center;
}

.lugar3{
    background-color:rgba(255, 255, 255, 0.589) ;
    height: 150px;
}

.lugar3 h1{
    color: rgb(100, 17, 17);;
    width: 90%;
    font-size: 30px;
    font-family: Arial ;
}

#lugar3 p{
    color: white;
    width: 90%;
    font-size: 20px;
    font-family: Arial ;
    font-weight: 500;
}


footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color:#151719;
    align-items: center;
    height: 150px;
}


#derechos{
    display: flex;
    flex-flow: column wrap;
color: rgb(100, 17, 17);
}

#redes{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 33%;
    margin-left: 50px;
}



#redes2{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 34%;
}

footer ul li{
    color: rgb(184, 182, 182);
    font-weight: 500;
    font-family: Arial ;
    font-size: 13px;
}

#redes li a img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#yo{
    width: 33%;
    justify-content: center;
    display: flex;
}

#yo img{
    height: 100px;
    width: all;    
    border-radius: 50%;
}


#redes .fa-instagram{
    display: flex;
    align-items: center;
    justify-content: center;
}


.fa-instagram{
    width: 50px;
    height: 50px;
    font-size: 50px;
 color: #fff;
 border-radius: 20%;
 background: #f09433;
 background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;

-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;

}


.fa-instagram:hover{
  
   
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
}


#redes .fa-facebook-f{
    display: flex;
    align-items: center;
    justify-content: center;
}






.fa-facebook-f{
   color: #fff;
   font-size: 50px;
   width: 50px;
   height: 50px;
   border-radius: 20%;
    -webkit-transition-duration: 0.8s;
 -moz-transition-duration: 0.8s;
 -o-transition-duration: 0.8s;
 transition-duration: 0.8s;
 background-color: #3B5998;
 -webkit-transition-property: -webkit-transform;
 -moz-transition-property: -moz-transform;
 -o-transition-property: -o-transform;
 transition-property: transform;
}

.fa-facebook-f:hover{
  
   
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
}




#redes .fa-github{
    display: flex;
    align-items: center;
    justify-content: center;
  
}




.fa-github{
    
    color: #fff;
    width: 52px;
    height: 50px;
    font-size: 50px;
    background-color: black;
    -webkit-transition-duration: 0.8s;
 -moz-transition-duration: 0.8s;
 -o-transition-duration: 0.8s;
 transition-duration: 0.8s;
 border-radius: 20%;
 -webkit-transition-property: -webkit-transform;
 -moz-transition-property: -moz-transform;
 -o-transition-property: -o-transform;
 transition-property: transform;
}

.fa-github:hover{

    
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
}




